extends ../layout/common

block content
    h1 Cart
    .d-flex.align-items-center
        form.ml-auto.d-flex(action="/products/search" method="GET")
            input.form-control(type="text" name="q" value=q) 
            button.btn.btn-primary Search
    .row
        each item in items
            .col-md-4.mb-3
                .card(style='width: 20rem;')
                    img.card-img-top(src= item.image, alt='Card image cap')
                    .card-body
                        h3 Amount: #{item.count}
                        p.card-text= item.description
                                                         