extends ../layout/common

block content
    h1 
        span Users
        a.btn.btn-primary.ml-3(href="/users/create") New
    .d-flex.align-items-center
        form.ml-auto.d-flex(action="/users/search" method="GET")
            input.form-control(type="text" name="q" value=q) 
            button.btn.btn-primary Search
    table.table
        tr 
            th Name
            th Phone
            th View
        each user in users
            tr
                td= user.name
                td= user.phone
                td
                    a.btn.btn-info(href='/users/' + user.id) View