extends ../layout/common

block content
    h1 Hello #{user.name}

    p
        b Name:&nbsp
        span= user.name
    img(src='../' + user.avatar) <!--thu muc hien tai dang o /users ../ chuyen ve thu muc goc -->